.Contacts-main {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #282c34;
  min-height: 84%;
  font-size: calc(10px + 2vmin);
  color: white;
}



.contact-right-contents {
    display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
    border: .15em solid rgb(154, 153, 153);
    border-radius: 3em;
    height: 15em;
    width: 18em;

}