.two-column-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .box-image {
    min-width: 40px;
    min-height: 40px;
    padding: .4em;
    border: 0.15em solid #806f49;
    border-radius: 0.5em 0 0 0.5em;
    color: #806f49;
  }

  .box-text {
    min-width: 40px;
    min-height: 40px;
    padding: .4em;
    border: 0.15em solid #806f49;
    border-radius: 0 0.5em 0.5em 0;
    color: #806f49;
  }

.container {
  margin-bottom: .8em;
  margin-top: .8em;
}

.box-title {
  margin: 0;
  padding-top: .15em;
}

.box-paragraph {
  margin: 0;
  padding: 0;
}