.three-column-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    border: 1px solid green;

  }


  .box {
    min-width: 40px;
    min-height: 40px;
    padding: 4px;
    border: 2px dotted lightcoral;
  }

  .container {
    padding: .1em;
    border: .1em dotted lightblue;
  }