.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.navbar {
  height: 8%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #556380;
}

.navbar a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-size: 1.7rem;
}

.Home-page:hover a,
.Reviews-page:hover a,
.Services-page:hover a,
.About-page:hover a,
.Contact-page:hover a {
  padding: 0 0.5em 0 0.5em;
  border-radius: 2em;
  box-shadow: inset 2px 0px 20px 10px #51607f;
    transition: .8s;
}

.App-header {
  background-color: #282c34;
  min-height: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: 0.15em solid #806f49;
  border-bottom: 0.15em solid #806f49;
}

.App-footer {
  height: 8%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1em;
  background-color: #556380;
}

.App-footer h1 {
  font-size: 1.8em;
  color: black;
}

.follow-us {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 8em;
}

svg {
  height: 1.8em;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
